body{
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-image: url('https://wallpapercave.com/wp/1haGIht.jpg');
}
.register-div{
    border: solid white 2px;
    background-color: rgba(5, 0, 0, 0.30);
    border-radius: 10px;
    width: 350px;
    margin: auto;
    justify-content: center;
    height: 455px;
    
}
form{
    margin: auto;
    width: 70%;
}
input{
    width: 90%;
    height: 25px;
    border-radius: 15px ;
    margin-top: 4px;
    font-weight: bold;
    background-color: rgb(255 255 255 / 83%);
    font-size: 18px;
    border: solid rgb(0, 128, 0) 2px;
}
input:focus{
    border: solid rgb(0, 128, 0) 2px;
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
}

input[type="button"]{
    background-color:  #ff0000;
    width: 100px;
    padding: 5px;
    height: 35px;
    color: white;
    border: solid green 3px;
    font-weight: bold;
    border-radius: 20px;
    float: right;
}
input[type="button"]:hover{
    background-color: transparent;
    border: solid white 2px;
    color: white;
    font-weight: bold;
}
label{
    display: block;
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
    color: orangered;
}
h2{
    color: red;
    text-align: center;
}